.gym-profile-container {
    width: 100vw; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.gym-info-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40%;
}

.gym-image-container {
    width: 40%;
}

.gym-stats-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gym-equipment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.8); /* Light gray with 80% opacity */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    width: 80%;
    color: black;
}

.equipment-columns {
    display: flex;
    flex-direction: row;
}

.gym-workouts-container {
    display: flex;
    background-color: rgba(211, 211, 211, 0.8); /* Light gray with 80% opacity */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    color: black;
    width: 80%;
    flex-direction: column;
}

.gym-profile-picture {
    width: 100%;
    height: 100%;
}

.stat-text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.highlight { 
    color: orange; 
    font-weight: bold; 
}

.equipment-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
}

.equipment-listItem {
    display: flex; 
    justify-content: center; 
    margin: 10px; 
}

.equipment-listIcon {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.no-equipment {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: gray; 
}

