.parentContainer {
    width: 100vw; 
    height: 100vh; 
    background-image: url('../assets/gymBackground.webp');
    background-size: cover; 
    background-position: center bottom; 
    background-repeat: no-repeat; /* Prevents repeating */
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}
  